#hero {
    background-image: url(images/TuleHorses.jpg);
    padding: 1em;
}

.my-layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.my-layout-item {
    margin: 0.5em;
    padding: 1em;
    width: auto;
    max-width: 60%;
    flex-grow: 1;
    border: 0.1em solid grey;
    border-radius: 0.5em;
}

.my-layout-item:hover {
    border-color: lightgrey;
}

.my-image {
    width: 8em;
}

@media only screen and (max-width: 600px) {
    .my-layout-item {
        max-width: 100vw;
    }
}